
  <!-- Main content -->
  <section class="content">
    <form name="formModel" role="form" novalidate="" ng-submit="save(formModel)" ng-class="{submitted:submitted}">
    <div class="row">
      <div class="col-md-8">
        <div class="box box-primary" ng-repeat="section in form.sections">
          <div class="box-header">
            <h3 class="box-title">{{section.name}}</h3>
          </div><!-- /.box-header -->
          <!-- form start -->
            <div class="box-body">
              <field ng-repeat="field in section.fields" ng-model="model.sections[section.key][field.key]" form-value="model" ng-field="field">
              </field>
            </div><!-- /.box-body -->
        </div>
      </div>
      <div class="col-md-4">
        <ul class="timeline">
            <!-- timeline time label -->
            <li class="time-label">
                <span class="bg-red">
                    10 Feb. 2014
                </span>
            </li>
            <!-- /.timeline-label -->

            <!-- timeline item -->
            <li>
                <!-- timeline icon -->
                <i class="fa fa-envelope bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                    <h3 class="timeline-header"><a href="#">Support Team</a> ...</h3>

                    <div class="timeline-body">
                        ...
                        Content goes here
                    </div>

                    <div class='timeline-footer'>
                        <a class="btn btn-primary btn-xs">...</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->

        </ul>
      </div>


    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="box-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </form>
  </section><!-- /.content -->
